
{% include 'header.html' %}


        {% if usuario %}

        {% include 'modal-add-item-lineabase.html' %}
        {% include 'modal-remove-item-lineabase.html' %}
        <div id="page-wrapper">
            
            
        
            <div class="row">
        
                <div class="col-lg-12">
                    <div class="row">

                        <h2 class="page-header">Items de la Linea Base : {{linea_base.nombre}} <small>[Nro. {{linea_base.nro}} - Fase : {{fase.nombre}}]</small></h2>
                    </div>

                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            
                            <form class="input-group custom-search-form" method="post" action={% url 'lineasbase:index' fase.id %} >
                            {% csrf_token %}

                                <input type="text" class="form-control" placeholder="Buscar..." name="search" >
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>

                            </form>
                        </div>
                    </div>

                    {% include 'mensaje.html' %}

                    {% if mensaje %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Atención!</strong> {{mensaje}}
                        </div>
                    {% endif %}
                        <center>
                            <h3>Items de la Linea Base</h3>                    
                        </center>
                        <form method="post">
                            {% csrf_token %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Numero</th>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th></th>
                                        <th>Eliminar</th>
                                                                                                                         
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in linea_base.item_set.all %}
                                    <tr>
                                        <td>{{i.numero}}</td>
                                        <td>{{i.nombre}}</td>
                                        <td>{{i.tipo_item}}</td>
                                        <td></td>
                                        
                                        <td>
                                            <a href="#eliminar" class="btn btn-danger btn-outline" onClick="eliminarLineaBase( '{{i.nombre}}', '{% url 'lineasbase:removerItem' fase.id linea_base.id i.id %}' );"><i class="fa fa-minus-square"></i></a>
                                        </td>
                                        
                                    </tr>
                                    {% empty %}
                                        <tr>
                                            No hay resultados
                                        </tr> 
                                    {% endfor %}
                                </tbody>
                            </table>

                            
                            <center>
                                
                                <a class="btn btn-success" data-toggle="modal" href='#modal-nuevo'><i class="fa fa-plus-square fa-2x"></i></a>
                                
                                                                                            
                            </center>
                            <hr>
                            <a class="btn btn-primary" href="{% url 'fases:index' fase.proyecto.id %}">
                                    <i class="fa fa-chevron-left "></i>
                            </a>
                            <hr>
                        </form>
        
                </div>
                <!-- /.col-lg-12 -->
        
            </div>
            <!-- /.row -->
        

            

        </div>
        {% endif %}

        {% load staticfiles %}
        <script src="{% static 'js/lineasbase.js' %}"></script>

        <!-- /#page-wrapper -->
{% include 'footer.html' %}