
{% include 'header.html' %}


        {% if usuario %}

        {% include 'modal-delete-lineabase.html' %}
        {% include 'modal-new-lineabase.html' %}
        {% include 'modal-modificar-lineabase.html' %}
        <div id="page-wrapper">
            
            
        
            <div class="row">
        
                <div class="col-lg-12">
                    <div class="row">

                        <h2 class="page-header">Lineas Base de la Fase : {{fase.nombre}} <small>[Nro. {{fase.nro}} <i> {{fase.descripcion}} </i>]</small></h2>
                    </div>

                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            
                            <form class="input-group custom-search-form" method="post" action={% url 'lineasbase:index' fase.id %} >
                            {% csrf_token %}

                                <input type="text" class="form-control" placeholder="Buscar..." name="search" >
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>

                            </form>
                        </div>
                    </div>

                    {% if mensaje %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Atención!</strong> {{mensaje}}
                        </div>
                    {% endif %}
                        <center>
                            <h3>Lista de Lineas Base</h3>                    
                        </center>
                        <form method="post">
                            {% csrf_token %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Numero</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th></th>
                                        <th>Modificar</th>
                                        <th>Eliminar</th>
                                        <th></th>
                                        <th>Historial</th>
                                        <th>Items</th>
                                        <th>Liberar</th>
                                        <th>Cerrar</th>
                                        
                                                                                                                         
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in lineasb %}
                                    <tr>
                                        <td>{{l.nro}}</td>
                                        <td>{{l.nombre}}</td>
                                        <td>{{l.estado}}</td>
                                         <td></td>
                                        <td>
                                            {% if 'Modificar Linea Base' in usuario.permisos or 'root' in usuario.permisos %} 
                                                {% if not 'finalizada' in fase.estado %}
                                                    <a href="#modificar" class="btn btn-primary btn-outline"
                                                    onClick="modificarLineaBase( '{{l.id}}','{{l.nro}}','{{l.nombre}}','{{l.estado}}' );"><i class="fa fa-pencil"></i></a>
                                                {% endif %} 
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if 'Eliminar Linea Base' in usuario.permisos or 'root' in usuario.permisos %}
                                            {# if not 'valido' in l.estado or 'inicial' in l.estado #}
                                                {% if not 'finalizada' in fase.estado %}
                                                    <a href="#eliminar" class="btn btn-danger btn-outline" onClick="eliminarLineaBase( '{{l.nombre}}', '{% url 'lineasbase:eliminar' fase.id l.id %}' );"><i class="fa fa-minus-square"></i></a>
                                                {% endif %}
                                            {# endif #}
                                            {% endif %}
                                        </td>
                                        <td></td>
                                        <td>
                                            {% if 'Historial Linea Base' in usuario.permisos or 'root' in usuario.permisos %}
                                            <a href="{% url 'lineasbase:historial' fase.id l.id %}" class="btn btn-default btn-outline"><i class="fa fa-calendar-o"></i></a>
                                            {% endif %}

                                        </td>
                                        <td>
                                            {% if 'Asignar-Desasignar Item a Linea Base' in usuario.permisos or 'root' in usuario.permisos %}
                                            <a href="{% url 'lineasbase:items' fase.id l.id %}" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i></a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if 'Liberar-Cerrar Linea Base' in usuario.permisos or 'root' in usuario.permisos %}
                                            {% if not 'liberada' in l.estado %}
                                                <a class="btn btn-info" href="{% url 'lineasbase:liberar' fase.id l.id %}"><i class="fa fa-unlock "></i></a>
                                            {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if 'Liberar-Cerrar Linea Base' in usuario.permisos or 'root' in usuario.permisos %}
                                            {% if not 'valido' in l.estado %}
                                                <a class="btn btn-info" href="{% url 'lineasbase:cerrar' fase.id l.id %}"><i class="fa fa-lock "></i></a>
                                            {% endif %}
                                            {% endif %}
                                        </td>
                                       
                                        
                                    </tr>
                                    {% empty %}
                                        <tr>
                                            No hay resultados
                                        </tr> 
                                    {% endfor %}
                                </tbody>
                            </table>

                            
                            <center>
                                {% if 'Crear Linea Base' in usuario.permisos or 'root' in usuario.permisos %}
                                    {% if not 'finalizada' in fase.estado %}
                                        <a class="btn btn-success" data-toggle="modal" href='#modal-nuevo'><i class="fa fa-plus-square fa-2x"></i></a>
                                    {% endif %}
                                {% endif %}
                                                                                            
                            </center>
                            <hr>
                            <a class="btn btn-primary" href="{% url 'fases:index' fase.proyecto.id %}">
                                    <i class="fa fa-chevron-left "></i>
                            </a>
                            <hr>
                        </form>
        
                </div>
                <!-- /.col-lg-12 -->
        
            </div>
            <!-- /.row -->
        

            

        </div>
        {% endif %}

        {% load staticfiles %}
        <script src="{% static 'js/lineasbase.js' %}"></script>

        <!-- /#page-wrapper -->
{% include 'footer.html' %}