
{% include 'header.html' %}


        {% if usuario %}

        {% include 'modal-delete-lineabase.html' %}
        {% include 'modal-new-lineabase.html' %}
        {% include 'modal-modificar-lineabase.html' %}
        <div id="page-wrapper">
            
            
        
            <div class="row">
        
                <div class="col-lg-12">
                    <div class="row">

                        <h2 class="page-header">Lineas Base de la Fase : {{fase.nombre}} <small>[Nro. {{fase.nro}} <i> {{fase.descripcion}} </i>]</small></h2>
                    </div>

                    {% if mensaje %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Atención!</strong> {{mensaje}}
                        </div>
                    {% endif %}
                        <center>
                            <h3>Lista de Lineas Base</h3>                    
                        </center>
                        <form method="post">
                            {% csrf_token %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Numero</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th></th>
                                        <th>Modificar</th>
                                        <th>Eliminar</th>
                                                                                                                         
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in lineasb %}
                                    <tr>
                                        <td>{{l.nro}}</td>
                                        <td>{{l.nombre}}</td>
                                        <td>{{l.estado}}</td>
                                        <td></td>
                                        <td> 
                                            <a href="#modificar" class="btn btn-primary btn-outline"
                                            onClick="modificarLineaBase( '{{l.id}}','{{l.nro}}','{{l.nombre}}','{{l.estado}}' );"><i class="fa fa-pencil"></i></a> 
                                        </td>
                                        <td>
                                            <a href="#eliminar" class="btn btn-danger btn-outline" onClick="eliminarLineaBase( '{{l.nombre}}', '{% url 'lineasbase:eliminar' fase.id l.id %}' );"><i class="fa fa-minus-square"></i></a>
                                        </td>
                                        
                                    </tr>
                                    {% empty %}
                                        <tr>
                                            No hay resultados
                                        </tr> 
                                    {% endfor %}
                                </tbody>
                            </table>

                            
                            <center>
                                
                                <a class="btn btn-success" data-toggle="modal" href='#modal-nuevo'><i class="fa fa-plus-square fa-2x"></i></a>
                                
                                                                                            
                            </center>
                            <hr>
                            <a class="btn btn-primary" href="{% url 'fases:index' fase.proyecto.id %}">
                                    <i class="fa fa-chevron-left "></i>
                            </a>
                            <hr>
                        </form>
        
                </div>
                <!-- /.col-lg-12 -->
        
            </div>
            <!-- /.row -->
        

            

        </div>
        {% endif %}

        {% load staticfiles %}
        <script src="{% static 'js/lineasbase.js' %}"></script>

        <!-- /#page-wrapper -->
{% include 'footer.html' %}