
{% include 'header.html' %}


        {% if usuario %}

        {% include 'modal-delete-mensaje.html' %}
        {% include 'modal-new-mensaje.html' %}
        
        <div id="page-wrapper">
            
            
        
            <div class="row">
        
                <div class="col-lg-12">
                    <div class="row">
                        <h2 class="page-header">Mensajes</h2>
                    </div>
                    


                    {% include 'mensaje.html' %}
                    
                        <center>
                            <h3>Listado de Mensajes</h3>                    
                        </center>
                        
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Remitente</th>
                                    <th>Asunto</th>
                                    <th>Estado</th>
                                    <th></th>
                                    <th>Ver</th>
                                    <th>Eliminar</th>
                                                                         
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in lista %}
                                <tr>
                                    <td>{{m.sender}}</td>
                                    <td>{{m.asunto}}</td>
                                    <td>{{m.estado}}</td>
                                    <td></td>
                                    
                                    <td>
                                        
                                        <a class="btn btn-primary btn-outline" href="{% url 'mensajes:ver' m.id%}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        
                                    </td>

                                    <td>
                                        <a href="#eliminar" class="btn btn-danger btn-outline" onClick="eliminarMensaje( '{{m.asunto}}', '{% url 'mensajes:eliminar' m.id %}' );"><i class="fa fa-minus-square"></i></a> 

                                    </td>

                                    
                                </tr>
                                {% empty %}
                                    <tr>
                                        No hay resultados
                                    </tr> 
                                {% endfor %}
                            </tbody>
                        </table>

                        <center>
                            
                            <a class="btn btn-success" data-toggle="modal" href='#modal-nuevo'><i class="fa fa-plus-square fa-2x"></i></a>
                            
                        </center>
                    
        
                </div>
                <!-- /.col-lg-12 -->
        
            </div>
            <!-- /.row -->
        

            

        </div>
        {% endif %}

        {% load staticfiles %}
        <script src="{% static 'js/mensajes.js' %}"></script>

        <!-- /#page-wrapper -->
{% include 'footer.html' %}