{% include 'header.html' %}

	{% if usuario %}

			<div id="page-wrapper">
				
				<div class="row">
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			        	<br>
			        	<b>Remitente:</b>
			        	 {{mensaje.sender}}
			        	<br>
			        </div>
			        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						
					</div>
				</div>

				<div class="row">
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			        	<br>
			        	<b>Asunto:</b> {{mensaje.asunto}}
			        	<br>
			        </div>
			        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<hr>
			        	<b>Mensaje:</b>
			        	<h4>{{mensaje.mensaje}}</h4>
					</div>
						
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						
					</div>
				</div>

				<hr>
	            	<a class="btn btn-primary" href="{% url 'mensajes:index' %}">
	            	<i class="fa fa-chevron-left "></i></a>
	        	<hr>
        	</div>
    	

	{% endif %}	
{% include 'footer.html' %}