<div class="modal fade" id="modal-nuevo">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Nueva Relacion</h4>
			</div>
			<form method="post" action="{% url 'item:relacionar' fase.id item.id %}" novalidate>
				{% csrf_token %}
				<div class="modal-body">
					<center>

						<div class="control-group">
							<label>Tipo de Relación:</label><br>
							<div class="controls">
								<select name="tipo" required data-validation-required-message="Por favor rellena este campo :)" id="tipo" onChange="setListaRelacion();">
									<option value="padre-hijo">Padre-Hijo</option>
									<option value="antecesor-sucesor">Antecesor-Sucesor</option> 
								</select>
								<p class="help-block"></p>
							</div>
						</div>

						<hr>
						<div class="control-group" id="s-sucesor">
							<label>Seleccione el Sucesor del Item:</label><br>
							<div class="controls">
								<select name="sucesor" required data-validation-required-message="Por favor rellena este campo :)" >
								{% for f in fase.proyecto.fase_set.all %}
									{% if f.nro == fase.nro|add:"1" %}
										{% for i in f.item_set.all %}
											<option value="{{i.id}}">{{i.nombre}}</option>
										{% endfor %}
									{% endif %}
								{% endfor %}
								</select>
								<p class="help-block"></p>
							</div>
						</div>

						<div class="control-group" id="s-hijo">
							<label>Seleccione el Hijo del Item:</label><br>
							<div class="controls">
								<select name="hijo" required data-validation-required-message="Por favor rellena este campo :)" >
								{% for i in fase.item_set.all %}
									{% if i != item %}
										<option value="{{i.id}}">{{i.nombre}}</option>
									{% endif %}
								{% endfor %}
								</select>
								<p class="help-block"></p>
							</div>
						</div>
						
						<br>						
					</center>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Crear Relacion</button>
				</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->