<div class="modal fade" id="modal-nuevo">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Seleccione el tipo de item</h4>
			</div>
				<div class="modal-body">
					<center>


						<div class="control-group">
							<label>Tipo Item:</label><br>
							<div class="controls">
								<select name="tipo-item" required data-validation-required-message="Por favor rellena este campo :)" id="id-tipo" onChange="setUrlNewItem({{fase.id}})">
									{% for tipo_item in fase.tipoitem_set.all %}
									
									<option value="{{tipo_item.id}}">{{tipo_item.nombre}}</option>
									
									{% endfor %}
								</select>
								<p class="help-block"></p>
							</div>
						</div>
						
						<br>						
					</center>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
					<a class="btn btn-primary" href="#" id="next-new-item">Siguiente</a>
				</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->