<div class="modal fade" id="modal-adjuntar">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Adjuntar Archivo</h4>
			</div>
			<form method="post" action="{% url 'item:adjuntar' fase.id i.id %}" enctype="multipart/form-data">
			{% csrf_token %}
				<div class="modal-body">
					<center>
																											
					</center>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->