
{% include 'header.html' %}


        {% if usuario %}

        <div id="page-wrapper">
            
            
        
            <div class="row">
        
                <div class="col-lg-12">
                    <div class="row">
                        <h2 class="page-header">Roles del Usuario : {{user.username}}</h2>
                    </div>


                    {% if mensaje %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Atención!</strong> {{mensaje}}
                        </div>
                    {% endif %}
                        <center>
                            <h3>Lista de Roles</h3>                    
                        </center>
                        <form method="post">
                            {% csrf_token %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th></th>
                                        <th>Asignado</th>
                                         
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for r in roles %}
                                    <tr>
                                        <td>{{r.nombre}}</td>

                                        <td></td>

                                        <td>
                                            {% if r in user.roles.all %}
                                                <input type="checkbox" name="roles" value="{{r.id}}" checked> 
                                            {% else %}
                                                <input type="checkbox" name="roles" value="{{r.id}}">
                                            {% endif %}
                                        </td>

                                    </tr>
                                    {% empty %}
                                        <tr>
                                            No hay resultados
                                        </tr> 
                                    {% endfor %}
                                </tbody>
                            </table>

                            <center>
                                <button type="submit" class="btn btn-success" ><i class="fa fa-save fa-2x"></i></button>
                            </center>
                            <hr>
                            <a class="btn btn-primary" href="{% url 'usuarios:index' %}">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            <hr>
                        </form>
        
                </div>
                <!-- /.col-lg-12 -->
        
            </div>
            <!-- /.row -->
        

            

        </div>
        {% endif %}

        {% load staticfiles %}
        <script src="{% static 'js/roles.js' %}"></script>

        <!-- /#page-wrapper -->
{% include 'footer.html' %}