<div class="modal fade" id="modal-nuevo">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Nuevo Usuario</h4>
			</div>
			<form method="post" action="{% url 'principal.views.nuevoUsuario' %}">
			<div class="modal-body">
				<center>
					<input type="text" name="username" placeholder="Username..." > <br> <br>
					<input type="password" name="password" placeholder="Password..." > <br> <br>
					<input type="text" name="nombre" placeholder="Nombre..." > <br> <br>
					<input type="text" name="apellido" placeholder="Apellido..." > <br> <br>
					<input type="number" name="ci" placeholder="Ci..." > <br> <br>
					<input type="email" name="email" placeholder="Email" > <br> <br>
					<input type="phone" name="telefono" placeholder="Telefono..." > <br> <br>
					{% csrf_token %} 
				</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->