
{% include 'header.html' %}

        {% if usuario %}

        {% include 'modal-delete-solicitud.html' %}
        {% include 'modal-send-solicitud.html' %}
        {% include 'modal-new-solicitud.html' %}
        {% include 'modal-modificar-solicitud.html' %}
        <div id="page-wrapper">
            
            
        
            <div class="row">
        
                <div class="col-lg-12">
                    <div class="row">
                        <h2 class="page-header">Lista de Solicitudes de Cambio de la Fase {{fase.nombre}}</h2>
                    </div>
                    <div class="row">
                        <br>
                    </div>

                    {% include 'mensaje.html' %}
                        <center>
                            <h3>Listado de Solicitudes</h3>                    
                        </center>
                    
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Solicitante</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Item</th>
                                    <th>Accion</th>
                                    <th></th>
                                    <th>Modificar</th>
                                    <th>Eliminar</th>
                                    <th>Enviar</th>
                                    <th>Aprobar</th>
                                    <th>Rechazar</th>
                                     
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in lista %}
                                <tr>
                                    
                                    <td>{{s.usuario}}</td>
                                    <td>{{s.nombre}}</td>
                                    <td>{{s.descripcion}}</td>
                                    <td>{{s.item}}</td>
                                    <td>{{s.accion}}</td>
                                    
                                    <td></td>
                                    <td>
                                        {% if s.estado == 'inicial' %} 
                                         <a href="#modificar" class="btn btn-primary btn-outline" onClick="modificarSolicitud( '{{s.id}}','{{s.item.id}}','{{s.nombre}}','{{s.descripcion}}','{{s.accion}}' );" ><i class="fa fa-pencil" ></i></a>
                                        {% endif %}
                                     </td>
                                    <td>
                                        {% if s.estado == 'inicial' %}
                                         <a href="#eliminar" class="btn btn-danger btn-outline"  onClick="eliminarSolicitud( '{{s.nombre}}', '{% url 'solicitud:eliminar' fase.id s.id %}' );"><i class="fa fa-minus-square"></i></a>
                                        {% endif %}
                                     </td>

                                     <td>
                                        {% if s.estado == 'inicial' %} 

                                         <a href="#enviar" class="btn btn-primary btn-outline" onClick="enviarSolicitud( '{{s.nombre}}', '{% url 'solicitud:enviar' fase.id s.id %}' );"><i class="fa fa-envelope"></i></a>

                                        {% endif %}
                                     </td>

                                     
                                     
                                     {% for m in fase.proyecto.comite_set.first.usuarios.all %}
                                        {% if m.id == usuario.id %}
                                            {% if s.estado == 'pendiente' %}
                                                <td> 

                                                <a href="{% url 'solicitud:aprobar' fase.id s.id %}" class="btn btn-danger btn-outline" ><i class="fa fa-thumbs-up"></i></a>
                                                </td>
                                                <td> 
                                                <a href="{% url 'solicitud:rechazar' fase.id s.id %}" class="btn btn-danger btn-outline" ><i class="fa fa-thumbs-down"></i></a>
                                                </td>
                                            {% endif %}
                                        {% endif %}
                                     {% endfor %}

                                </tr>
                                {% empty %}
                                    <tr>
                                        <td>No hay solicitudes</td>
                                    </tr> 
                                {% endfor %}
                            </tbody>
                        </table>

                        <center>
                            {# if 'Crear Proyectos' in usuario.permisos or 'root' in usuario.permisos #}
                            <a class="btn btn-success" data-toggle="modal" href='#modal-nuevo'><i class="fa fa-plus-square fa-2x"></i></a>
                            {# endif #}
                        </center>
                        <hr>
                            <a class="btn btn-primary" href="{% url 'fases:index' fase.proyecto.id %}">
                                    <i class="fa fa-chevron-left "></i>
                            </a>
                        <hr>
        
                </div>
                <!-- /.col-lg-12 -->
        
            </div>
            <!-- /.row -->
        

            

        </div>
        {% endif %}

        {% load staticfiles %}
        <!-- <script src="{% static 'js/proyectos.js' %}"></script> -->

        <!-- /#page-wrapper -->
{% include 'footer.html' %}