
{% include 'header.html' %}


        {% if usuario %}

        {% include 'modal-delete-fases.html' %}
        {% include 'modal-new-fases.html' %}
        {% include 'modal-modificar-fases.html' %}

        <div id="page-wrapper">
            
            
        
            <div class="row">
        
                <div class="col-lg-12">
                    <div class="row">

                        <h2 class="page-header">Fases del Proyecto : {{proyecto.nombre}}</h2>
                    </div>


                    {% if mensaje %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Atención!</strong> {{mensaje}}
                        </div>
                    {% endif %}
                        <center>
                            <h3>Lista de Fases</h3>                    
                        </center>
                        <form method="post">
                            {% csrf_token %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Numero</th>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Estado</th>
                                        <th></th>
                                        <th>Modificar</th>
                                        <th>Eliminar</th>
                                                                                 
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for f in fases %}
                                    <tr>
                                        <td>{{f.nro}}</td>
                                        <td>{{f.nombre}}</td>
                                        <td>{{f.descripcion}}</td>
                                        <td>{{f.estado}}</td>
                                        <td></td>
                                        <td> 
                                            {% if 'no iniciado' in proyecto.estado %}
                                            <a href="#modificar" class="btn btn-primary"
                                            onClick="modificarFase( '{{f.id}}','{{f.nro}}','{{f.nombre}}','{{f.descripcion}}','{{f.estado}}' );"><i class="fa fa-pencil"></i></a> 
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if 'no iniciado' in proyecto.estado and fases.count > 1 %}
                                            <a href="#eliminar" class="btn btn-danger" onClick="eliminarFase( '{{f.nombre}}', '{% url 'fases:eliminar' proyecto.id f.id %}' );"><i class="fa fa-minus-square"></i></a>
                                            {% endif %}
                                        </td>

                                    </tr>
                                    {% empty %}
                                        <tr>
                                            No hay resultados
                                        </tr> 
                                    {% endfor %}
                                </tbody>
                            </table>

                            
                            <center>
                                
                                <a class="btn btn-success" data-toggle="modal" href='#modal-nuevo'><i class="fa fa-plus-square fa-2x"></i></a>
                               
                                                                
                            </center>
                            <hr>
                            <a class="btn btn-primary" href="{% url 'proyectos:index' %}">
                                    <i class="fa fa-chevron-left "></i>
                            </a>
                            <hr>
                        </form>
        
                </div>
                <!-- /.col-lg-12 -->
        
            </div>
            <!-- /.row -->
        

            

        </div>
        {% endif %}

        {% load staticfiles %}
        <script src="{% static 'js/fases.js' %}"></script>

        <!-- /#page-wrapper -->
{% include 'footer.html' %}