
    </div>
    <!-- /#wrapper -->

    {% load staticfiles %}
    <!-- Core Scripts - Include with every page -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <!-- input validator... -->
    <script src="{% static 'js/validator/jqBootstrapValidation.js' %}"></script>

    <script src="{% static 'js/comites.js' %}"></script>
    <script src="{% static 'js/usuarios.js' %}"></script>
    <script src="{% static 'js/proyectos.js' %}"></script>
    <script src="{% static 'js/roles.js' %}"></script>
    <script src="{% static 'js/fases.js' %}"></script>
    <script src="{% static 'js/tipoitem.js' %}"></script>
    <script src="{% static 'js/lineasbase.js' %}"></script>
    <script src="{% static 'js/atributotipoitem.js' %}"></script>
    <script src="{% static 'js/item.js' %}"></script>
    <!-- Page-Level Plugin Scripts - Blank -->

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{% static 'js/sb-admin.js' %}"></script>

    <!-- Page-Level Demo Scripts - Blank - Use for reference -->

    <script>
        $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
    </script>

</body>

</html>
