
{% include 'header.html' %}


        {% if usuario %}

        {% include 'modal-delete-atributo_tipo_item.html' %}
        {% include 'modal-new-atributo_tipo_item.html' %}
        {% include 'modal-modificar-atributo_tipo_item.html' %}

        <div id="page-wrapper">
            
            
        
            <div class="row">
        
                <div class="col-lg-12">
                    <div class="row">

                        <h2 class="page-header">Atributos del Tipo Item : {{tipo_item.nombre}} <small>[Cod. {{tipo_item.codigo}} <i> {{tipo_item.descripcion}} </i>]</small></h2>
                    </div>


                    {% if mensaje %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Atención!</strong> {{mensaje}}
                        </div>
                    {% endif %}
                        <center>
                            <h3>Lista de Atributos</h3>                    
                        </center>
                        <form method="post">
                            {% csrf_token %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Valor por Defecto</th>
                                        <th></th>
                                        <th>Modificar</th>
                                        <th>Eliminar</th>
                                                                                 
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in lista %}
                                    <tr>
                                        <td>{{a.nombre}}</td>
                                        <td>{{a.tipo}}</td>
                                        <td>{{a.valor_por_defecto}}</td>
                                        <td></td>
                                        <td> 
                                            {% if 'no iniciado' in proyecto.estado or 'iniciado' in proyecto.estado %}
                                                <a href="#modificar" class="btn btn-primary btn-outline"
                                                onClick="modificarAtributoTipoItem( '{{a.id}}','{{a.nombre}}','{{a.tipo}}','{{a.valor_por_defecto}}' );"><i class="fa fa-pencil"></i></a> 
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if 'no iniciado' in proyecto.estado or 'iniciado' in proyecto.estado %}
                                                {% if lista.count > 1 %}
                                                    <a href="#eliminar" class="btn btn-danger btn-outline" onClick="eliminarAtributoTipoItem( '{{a.nombre}}', '{% url 'tipoitem:eliminarAtributo' tipo_item.id a.id %}' );"><i class="fa fa-minus-square"></i></a>
                                                {% endif %}
                                            {% endif %}
                                        </td>

                                    </tr>
                                    {% empty %}
                                        <tr>
                                            No hay resultados
                                        </tr> 
                                    {% endfor %}
                                </tbody>
                            </table>

                            
                            <center>
                                
                                <a class="btn btn-success" data-toggle="modal" href='#modal-nuevo'><i class="fa fa-plus-square fa-2x"></i></a>
                               
                                                                
                            </center>
                            <hr>
                            <a class="btn btn-primary" href="{% url 'tipoitem:index' tipo_item.fase.id %}">
                                    <i class="fa fa-chevron-left "></i>
                            </a>
                            <hr>
                        </form>
        
                </div>
                <!-- /.col-lg-12 -->
        
            </div>
            <!-- /.row -->
        

            

        </div>
        {% endif %}

        {% load staticfiles %}
        <script src="{% static 'js/tipo_items.js' %}"></script>

        <!-- /#page-wrapper -->
{% include 'footer.html' %}