<div class="modal fade" id="modal-modificar">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modificar Tipo Item</h4>
			</div>
			<form method="post" action="{% url 'tipoitem:modificar' fase.id %}">
			{% csrf_token %}
				<div class="modal-body">
					<center>
						<input type="hidden" name="id" value="" id="m-id">

						
						<div class="control-group">
							<label>Codigo:</label><br>
							<div class="controls">
								<input type="text" name="codigo" placeholder="Codigo..." required maxlength="50" data-validation-required-message="Por favor rellena este campo :)" minlength="2" data-validation-minlength-message="Se te podria ocurrir un codigo mas largo no?" id="m-codigo">
								<p class="help-block"></p>
							</div>
						</div>

						<div class="control-group">
							<label>Nombre:</label><br>
							<div class="controls">
								<input type="text" name="nombre" placeholder="Nombre..." required maxlength="50" data-validation-required-message="Por favor rellena este campo :)" minlength="2" data-validation-minlength-message="Se te podria ocurrir un nombre mas largo no?" id="m-nombre">
								<p class="help-block"></p>
							</div>
						</div>
												
						<div class="control-group">
							<label>Descripcion:</label><br>
							<div class="controls">
								<input type="text" name="descripcion" placeholder="Descripcion..." required maxlength="250" data-validation-required-message="Por favor rellena este campo :)" id="m-descripcion">
								<p class="help-block"></p>
							</div>
						</div>
						
						
						<br>
					


					</center>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->