
{% include 'header.html' %}


        {% if usuario %}

        {% include 'modal-delete-proyecto.html' %}
        {% include 'modal-new-proyecto.html' %}
        {% include 'modal-modificar-proyecto.html' %}
        <div id="page-wrapper">
            
            
        
            <div class="row">
        
                <div class="col-lg-12">
                    <div class="row">
                        <h2 class="page-header">Administración de Proyectos</h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <form class="input-group custom-search-form" method="post" action={% url 'proyectos:index' %} >
                            {% csrf_token %}

                                <input type="text" class="form-control" placeholder="Buscar..." name="search" >
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>

                            </form>
                        </div>
                    </div>

                    {% if mensaje %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Atención!</strong> {{mensaje}}
                        </div>
                    {% endif %}
                        <center>
                            <h3>Listado de Proyectos</h3>                    
                        </center>
                        
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Fecha de creacion</th>
                                    <th>Complejidad</th>
                                    <th>Estado</th>
                                    <th>Reporte Items</th>
                                    <th>Reporte Solicitudes</th>
                                    <th></th>
                                    <th>Modificar</th>
                                    <th>Eliminar</th>
                                    <th>Fases</th>
                                    <th>Comite</th>
                                     
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in lista %}
                                <tr>
                                    <td>{{p.nombre}}</td>
                                    <td>{{p.descripcion}}</td>
                                    <td>{{p.fecha_creacion}}</td>
                                    <td>{{p.complejidad_total}}</td>
                                    <td>{{p.estado}}</td>
                                    <td>
                                        <a class="btn btn-default btn-outline" href="{% url 'reporte:proyecto' p.id %}" target="_blank"><i class="fa fa-bar-chart-o"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default btn-outline" href="{% url 'reporte:solicitud' p.id %}" target="_blank"><i class="fa fa-bar-chart-o"></i>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td> 
                                        {% if 'Modificar Proyectos' in usuario.permisos or 'root' in usuario.permisos %}
                                        <a href="#modificar" class="btn btn-primary btn-outline"
                                        onClick="modificarProyecto( '{{p.id}}','{{p.nombre}}','{{p.descripcion}}','{{p.fecha_creacion | date:"d/m/Y" }}','{{p.complejidad_total}}','{{p.estado}}' );"><i class="fa fa-pencil"></i></a> 
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if 'Eliminar Proyectos' in usuario.permisos or 'root' in usuario.permisos %}
                                         <a href="#eliminar" class="btn btn-danger btn-outline" onClick="eliminarProyecto( '{{p.nombre}}', '{% url 'proyectos:eliminar' p.id %}' );"><i class="fa fa-minus-square"></i></a> 
                                         {% endif %}
                                    </td>
                                    <td>
                                        {% if 'Ver Fases' in usuario.permisos or 'root' in usuario.permisos %}
                                        <a class="btn btn-warning" href="{% url 'fases:index' p.id %}">
                                            <i class="fa fa-tasks"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if 'Asignar-Desasignar Usuario a Comite' in usuario.permisos or 'root' in usuario.permisos %}
                                        <a class="btn btn-info" href="{% url 'comites:index' p.id %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                         {% endif %}
                                    </td>



                                </tr>
                                {% empty %}
                                    <tr>
                                        No hay resultados
                                    </tr> 
                                {% endfor %}
                            </tbody>
                        </table>

                        <center>
                            {% if 'Crear Proyectos' in usuario.permisos or 'root' in usuario.permisos %}
                            <a class="btn btn-success" data-toggle="modal" href='#modal-nuevo'><i class="fa fa-plus-square fa-2x"></i></a>
                            {% endif %}
                        </center>
                    
        
                </div>
                <!-- /.col-lg-12 -->
        
            </div>
            <!-- /.row -->
        

            

        </div>
        {% endif %}

        {% load staticfiles %}
        <!-- <script src="{% static 'js/proyectos.js' %}"></script> -->

        <!-- /#page-wrapper -->
{% include 'footer.html' %}